body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  text-align: center;
}
/* banner logo */

.hero-text {
  position: absolute;
  left: 45%;
}
/* videos section */
.iframe-video {
  height: 315px;
  width: 100%;
}
/* segment  */
.segment {
  width: 150px;
}
.nav-item > button {
  color: white;
}
/* all card section csss */
.cardSection {
  margin: 80px 0px;
}
.cardSectioninfo {
  padding: 0px 40px;
}
.allCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 60px;
  margin-top: 50px;
}
.cardSectioninfo > img {
  object-fit: cover;
  width: 13rem;
  padding-right: 20px;
}
.cardTitle > h5 {
  font-family: "museo-sans", sans-serif;
  color: #292f36;
  font-size: 24px;
  font-weight: 700;
}
.cardTitle > p {
  color: #292f36;
  font-weight: 300;
  font-size: 16px;
  font-family: "museo-sans", sans-serif;
}

.buttonCard {
  width: fit-content;
}
.buttonCard > img {
  max-width: 100%;
  object-fit: cover;
}
.allButtons-title {
  padding-bottom: 4rem;
}
.allButton {
  display: inline-grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 20px;
  column-gap: 20px;
}
.allButtons > .container > h3 {
  color: #292f36;
  font-size: 40px;
  font-weight: 900;
  letter-spacing: -0.7px;
  font-size: 36px;
  font-family: "museo-sans", sans-serif;
}

.shopButton {
  display: inline-block;
  position: relative;
  top: -18px;
  background: #ffffff;
  padding: 6px 16px;
  border-radius: 100px;
  color: #0a7986;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  border: 1px solid #f0f2f5;
  box-shadow: 0px 10px 32px rgb(59 74 116 / 16%);
  cursor: pointer;
  text-transform: capitalize;
  font-family: "museo-sans", sans-serif;
}

/* social icon  */
.social-icon > .circle-icon {
  padding: 0.65rem 0.85rem;
  background-color: #9b00c0;
  color: #ffff;
  border-radius: 8px;
}

/* Stay Update section  */
.input-mode {
  display: flex;
  gap: 10px;
}
.input-mode > input {
  border: "1px solid #0000";
  border-radius: 6px;
  padding: 6px;
  width: 20rem;
}
.fieldInput {
  width: 300px;
  height: 40px;
  position: relative;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.09);
  border-radius: 35px;
  background-color: #fff;
  overflow: hidden;
}
.form-input {
  width: 300px;
  background: none;
  border: none;
  padding: 8px;
  padding: 8px 20px;
  font-size: 12px;
  color: #6a7c92;
}
.form-input:focus {
  outline: none;
}
.form-submit {
  font-size: 12px;
  color: #ffffff;
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  margin: 3px 4px;
  height: 35px;
  border-radius: 17px;
  border: none;
  background: #9b00c0;
  box-shadow: 5px -2px 81px 1px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

/* media responsive */

@media screen and (max-width: 1048px) {
  .allCard {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
  }
  .cardTitle {
    padding: 0px 0px;
  }
}
@media screen and (max-width: 768px) {
  .allCard {
    flex-wrap: wrap;
  }
  .allButton {
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .allButton {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .cardTypeimg {
    padding: 0px 0px;
  }
  .cardTitle,
  .subcardInfo {
    padding: 0px 0px;
  }

  .input-mode {
    display: flex;
    flex-direction: column;
  }
  .segment {
    width: 6rem;
  }
  .hero-text {
    position: absolute;
    left: 28%;
  }
  .input-mode > input {
    width: 17rem;
  }
  .iframe-video {
    height: 200px;
    width: 100%;
  }
}
@media screen and (max-width: 250px) {
  .allButton {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
